doctype html
html(lang="es")
	head
		title
			Sin Hambre | Una aplicación que te quita el hambre
		meta(name="robots" content="noindex,nofollow")
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0")
	body
		h1 Hello - This Works
		if youAreUsingJade
			p You are amazing!!
		else
			p Get Jade!!
		p.
			Jade is one template language strong on performance and other features.
