doctype html
html(lang="es")
	head
		jade test
	body
		h1 Hello - This Works
		if youAreUsingJade
			p You are amazing!!
		else
			p Get Jade!!
		p.
			Jade is one template language strong on performance and other features.
